/* ==========================================================================
   PAGE
   ========================================================================== */

.page {
  margin-bottom: 2em;
  float: none;
  margin: 0 auto;
  padding: 0;
  max-width: $max-width;
  @include breakpoint($small) {
    padding: 0 0.75rem;
  }
}

.page__subtitle {
  margin-top: 0;
  margin-bottom: 2em;
  color: $gray;
}

.page__share {
  padding: 1em 0;
}

.page__item-title {
  margin-bottom: 0.25em;
  font-family: $global-font-family;
  a {
    border-bottom: solid 0.2px $theme-color;
    color: $entry-link-color;
    &:hover { color: $entry-link-color-hover; }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;
  font-size: $type-size-1;
  margin-bottom: 0;
  color: $theme-color;
  font-family: $fancy-font-family;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__meta {
  margin: 0 0 4px;
  color: mix(#fff, $gray, 25%);
  font-size: $type-size-6;
  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

/* ==========================================================================
   Project Page
   ========================================================================== */

.project {
    .project__name {
        font-weight: bold;
        font-size: $type-size-5;
        text-transform: uppercase;
    }

    .project__links { 
        text-align: right;
        padding-top: 3px;
        a {
          cursor: pointer;
        }
    }

    .project__more {
      font-size: $type-size-6;
      text-align: center;
      font-weight: 400;
    }

    dt {
      float: left;
    }    

  @media (min-width: $medium) {
    dd {
        margin-left: 15%;
    }

    dt {
        float: left;
        width: 12%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        clear: left;
    }
  }

}